{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="{% static 'frontend/favicon.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIfriends</title>
  </head>
    <script type="module" crossorigin src="{% static 'frontend/assets/index-C8S4GsH8.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'frontend/assets/index-CJ1-WgkI.css' %}">
  <body>
    <div id="app"></div>
  </body>
</html>
